.panel-overlay {
  background-color: #333;
  border-radius: 0px;
}

.chat-input-field {
  border-radius: 9999px;
}

.conversation-message {
  padding: 5px;
  margin-bottom: 5px;
  max-width: 90%;
}

.temporary-message {
  padding: 5px;
  margin-bottom: 5px;
}
